.idea/
.ipynb_checkpoints/
__pycache__/
ImageAestheticsGANs/cGAN_64x64
ImageAestheticsGANs/cGAN_256x256
Others/ImageAesthetics_ECCV2016-20220809T210940Z-001.zip
ImageAestheticsGANs/AADB/ImageAesthetics_ECCV2016/
ImageAestheticsGANs/classifier_ckpt
ImageAestheticsGANs/classifier_ckpt_2_pretrained/
ImageAestheticsGANs/classifier_ckpt_2/
ImageAestheticsGANs/TheSUN/LabelMeToolbox-master/
ImageAestheticsGANs/TheSUN/SUN2012.tar.gz
ImageAestheticsGANs/TheSUN/SUN2012/
ImageAestheticsGANs/cGAN_128x128/
ImageAestheticsGANs/results.xlsx
ImageAestheticsGANs/~$results.xlsx
RESULTS/
ImageAestheticsGANs/AVA_dataset/aesthetics_image_lists
ImageAestheticsGANs/AVA_dataset/images
ImageAestheticsGANs/AVA_dataset/style_image_lists
ImageAestheticsGANs/AVA_dataset/AVA.txt
ImageAestheticsGANs/AVA_dataset/challenges.txt
ImageAestheticsGANs/AVA_dataset/README.txt
ImageAestheticsGANs/AVA_dataset/tags.txt